.contact {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    font-family: sans-serif;

    margin: 15% 30%;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    padding: 4rem 8rem;
}

@media only screen and (max-width:1245px) {
    .contact {
        letter-spacing: 0.2ch;
        margin: 150px 5px;
        padding-left: 20px;
        padding-right: 20px
    }
}